#Experience {
    text-align: start;
    font-weight: bold;
    font-size: x-large;
    
}
#Experience1 {
    text-align: justify;
    padding-top: 150px;
    font-size: x-large;
    
}

#card2 {
    background: rgb(236, 246, 247);
    margin-left: 18px;
}

#card2Inv {
    background: rgb(236, 246, 247);
    margin-right: 18px;
}


