.jumbotron {
  background-image: url("https://picsum.photos/1920/1080");
  background-size: cover;
}
.card-img-overlay {
    position: absolute;
    top: 40%;
    right: 0;
    bottom: 0;
    left: 0;
}