.jumbotron {
  background-image: url("https://cdn.pixabay.com/photo/2021/01/05/06/40/boat-5889919_960_720.png");
  background-size: cover;
  height: 20cm;
}
.text-light {
    color: #f8f9fa !important;
    margin: 6cm;
}
